article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%; }

h1 {
  font-family: "Londrina Outline", cursive;
  font-size: 10rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase; }

h2 {
  font-family: "Londrina Outline", cursive;
  text-align: center;
  font-size: 3.5rem;
  width: 60%;
  padding-top: 2.5%;
  margin: 0 auto;
  color: white; }

h3 {
  font-family: "Londrina Outline", cursive;
  font-size: 6rem;
  color: #8884ff;
  margin: 50px 0 20px;
  padding-top: 50px;
  text-transform: uppercase; }

.lyrics p {
  font-family: "Alegreya", serif;
  text-align: left;
  font-size: 2rem; }

footer {
  font-family: "Londrina Outline", cursive;
  font-size: 1.5rem; }

.backdrop {
  background: url(././images/kazuend-29733-unsplash.jpg);
  background-size: cover;
  width: 50%;
  padding: 0;
  margin: 5rem auto; }

.text {
  text-align: center;
  color: #8884ff;
  margin: 0;
  mix-blend-mode: lighten;
  background: #ffff;
  border: 10px solid #8884ff; }

@media (max-width: 750px) {
  .backdrop {
    width: 80%; } }

@media (max-width: 650px) {
  .backdrop {
    width: 100%; } }

footer {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.introPage {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(././images/denisse-leon-395932-unsplash.jpg);
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(././images/denisse-leon-395932-unsplash.jpg);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(././images/denisse-leon-395932-unsplash.jpg);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(././images/denisse-leon-395932-unsplash.jpg);
  background-size: cover;
  width: 80%;
  margin: 0 auto;
  height: 50vh; }

.game-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .game-options select {
    width: 200px;
    height: 70px;
    margin-top: 5%;
    text-transform: capitalize;
    font-family: "Londrina Outline", cursive;
    letter-spacing: 1.1px;
    font-size: 3rem;
    font-weight: bold;
    padding: 10px;
    color: black;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .game-options select:hover {
      background-color: #8884ff;
      color: #c0d6df; }
  .game-options input {
    width: 200px;
    height: 75px;
    margin: 2.5% 0;
    text-transform: uppercase;
    font-family: "Londrina Outline", cursive;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 10px;
    padding: 10px;
    background-color: #c0d6df;
    border: none;
    color: black;
    font-weight: bold;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .game-options input:hover {
      background-color: #8884ff;
      color: #c0d6df; }

@media (max-width: 900px) {
  h2 {
    width: 80%; } }

@media (max-width: 650px) {
  .introPage {
    width: 100%; } }

.gamePage {
  width: 80%;
  margin: 0 auto; }

.lyricsWrapper {
  text-align: center;
  background: #c0d6df; }
  .lyricsWrapper .lyrics {
    width: 85%;
    line-height: 1.75;
    margin: 0 auto;
    padding-bottom: 50px; }

.selection {
  background: #c0d6df;
  padding: 50px 50px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .selection .answers {
    width: 200px;
    height: 75px;
    border: none;
    background: -webkit-gradient(linear, left top, right top, from(#4e54c8), to(#8f94fb));
    background: -webkit-linear-gradient(left, #4e54c8, #8f94fb);
    background: -o-linear-gradient(left, #4e54c8, #8f94fb);
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    font-size: 2rem;
    font-family: "Alegreya", serif;
    text-transform: uppercase;
    color: white;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .selection .answers:hover {
      background: -webkit-gradient(linear, left top, right top, from(#fc5c7d), to(#6a82fb));
      background: -webkit-linear-gradient(left, #fc5c7d, #6a82fb);
      background: -o-linear-gradient(left, #fc5c7d, #6a82fb);
      background: linear-gradient(to right, #fc5c7d, #6a82fb); }

@media (max-width: 1160px) {
  .selection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .selection .answers {
      margin: 15px;
      width: 350px; } }

@media (max-width: 650px) {
  .gamePage {
    width: 100%; } }
