@import "setup";
@import "variables";
@import "mixins";
@import "global";
@import "typography";
//components
@import "components/header";
@import "components/footer";
@import "components/introPage";
@import "components/gamePage";
@import "components/winLose";



