.gamePage {
    width: 80%;
    margin: 0 auto;
}

.lyricsWrapper {
    text-align: center;
    background: $secondaryColor;
    .lyrics {
        width: 85%;
        line-height: 1.75;
        margin: 0 auto;
        padding-bottom: 50px;
        text-align: center;
    }
}

.selection {
    background: $secondaryColor;
    padding: 25px 25px;;
    justify-content: space-between;
    display: flex;

}


@media(max-width: 1160px) {
    .selection {
        flex-direction: column;
        align-items: center;

    }
}

@media(max-width: 650px) {
    .gamePage {
        width: 100%;
    }
}