.gamePage {
    width: 80%;
    margin: 0 auto;
}

.lyricsWrapper {
    text-align: center;
    background: $secondaryColor;
    .lyrics {
        width: 85%;
        line-height: 1.75;
        margin: 0 auto;
        padding-bottom: 50px;
    }
}

.selection {
    background: $secondaryColor;
    padding: 50px 50px;
    justify-content: space-between;
    display: flex;
    .answers {
        width: 200px;
        height: 75px;
        border: none;
        background: linear-gradient(to right, #4e54c8, #8f94fb);
        font-size: 2rem;
        font-family: $accentFont;
        text-transform: uppercase;
        color: white;
        transition: all 0.4s ease;
        &:hover {
              background: linear-gradient(to right, #fc5c7d, #6a82fb);
              
        }

    }
}


@media(max-width: 1160px) {
    .selection {
        flex-direction: column;
        align-items: center;
        .answers {
            margin: 15px;
            width: 350px;
        }
    }
}

@media(max-width: 650px) {
    .gamePage {
        width: 100%;
    }
}