
.backdrop {
    background: url(././images/kazuend-29733-unsplash.jpg);
    background-size: cover;
    width: 50%;
    padding: 0;
    margin: 5rem auto;
}

.text {
    text-align: center;
    color: #8884ff;
    margin: 0;
    mix-blend-mode: lighten;
    background: #ffff;
    border: 10px solid $primaryColor;
}


@media(max-width: 750px) {
    .backdrop {
        width: 80%;
    }
}

@media(max-width: 650px) {
    .backdrop {
        width: 100%;
    }
}